src/main/mule/zozo-delivery-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="zozo-delivery-proc-api-config" api="zozo-delivery-proc-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="zozo-delivery-proc-api-main">
        <http:listener config-ref="zozo-delivery-proc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="zozo-delivery-proc-api-config" doc:id="06680b6d-6b44-4ec6-96fd-a2bdac2a5a9d" />
    </flow>
    <flow name="zozo-delivery-proc-api-console">
        <http:listener config-ref="zozo-delivery-proc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="zozo-delivery-proc-api-config" doc:id="931709cf-9911-48fa-bec5-43daacb992de" />
    </flow>
    <flow name="get:\orderDelivery:zozo-delivery-proc-api-config" doc:id="2d9f3d9c-3933-46aa-9111-96b7848df689">
        <flow-ref doc:name="Flow Reference" doc:id="1a6e87dd-705a-40b2-9431-73488aad2c25" name="getOrderDelivery" />
    </flow>
</mule>
